<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="/Css/style.css" />
      </head>

      <body>
             {{>header}}
             
         <div class="row col-12 mt-5" style="margin: auto;">
    <div class="col-2 text-center">
        <img src="/images/author-02.jpg" class="rounded-circle mb-3" alt="Ahmed Maher">
        <h5>Ahmed Maher</h5>
    </div>
    <div class="col-2 text-center">
        <img src="/images/author-05.jpg" class="rounded-circle mb-3" alt="Sara Khan">
        <h5>Sara Khan</h5>
    </div>
    <div class="col-2 text-center">
        <img src="/images/author-06.jpg" class="rounded-circle mb-3" alt="John Doe">
        <h5>John Doe</h5>
    </div>
    <div class="col-2 text-center">
        <img src="/images/author-10.jpg" class="rounded-circle mb-3" alt="Emily Davis">
        <h5>Emily Davis</h5>
    </div>
     <div class="col-2 text-center">
        <img src="/images/author-02.jpg" class="rounded-circle mb-3" alt="Ahmed Maher">
        <h5>Ali Maher</h5>
    </div>
</div>
       <div class="row col-12 mt-5" style="margin: auto;">
    <div class="col-2 text-center">
        <img src="/images/author-02.jpg" class="rounded-circle mb-3" alt="Ahmed Maher">
        <h5>Ahmed Maher</h5>
    </div>
    <div class="col-2 text-center">
        <img src="/images/author-05.jpg" class="rounded-circle mb-3" alt="Sara Khan">
        <h5>Sara Khan</h5>
    </div>
    <div class="col-2 text-center">
        <img src="/images/author-06.jpg" class="rounded-circle mb-3" alt="John Doe">
        <h5>John Doe</h5>
    </div>
    <div class="col-2 text-center">
        <img src="/images/author-10.jpg" class="rounded-circle mb-3" alt="Emily Davis">
        <h5>Emily Davis</h5>
    </div>
     <div class="col-2 text-center">
        <img src="/images/author-02.jpg" class="rounded-circle mb-3" alt="Ahmed Maher">
        <h5>Ali Maher</h5>
    </div>
</div>
      </body>
</html>
